:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(93, 93, 93);
}

body {
  min-height: 100%;
  margin: 0;
}

.container {
  height: 100svh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
