:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-snap-type: y mandatory;
  --gradient: linear-gradient(-90deg, black, white, rgb(77, 77, 77), white, black);
  --near-white: #fafafa;
  --near-black: #252525;
  --title-light: #474747;
  --title-dark: #9f9f9f;
  --light-gray: #b4b4b4;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(93, 93, 93);
}

body {
  min-height: 100%;
  margin: 0;
}

.container {
  position: relative;
  background-color: var(--near-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: background-color 200ms ease-in-out;
}

#dark .container {
  background-color: var(--near-black);
}

h1 {
  color: var(--title-light);
  transition: color 200ms 240ms;
}

#dark h1 {
  color: var(--title-dark);
}

h2 {
  margin: 0;
  color: var(--near-white);
}

#dark h2 {
  color: var(--near-black);
}

p {
  color: var(--near-white);
  margin: 0;
  font-weight: 500;
}

#dark p {
  color: var(--near-black);
}

small {
  color: gray;
  font-size: 1.3vw;
}

#dark small {
  color: var(--near-white);
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon:hover {
  cursor: pointer;
}

.icon:active {
  transform: scale(0.9);
}

#dark .icon {
  color: #9f9f9f;
}

.moniker {
  background-image: var(--gradient);
  background-size: 300%;
  background-position: right;
  transition: all 500ms;
}

.moniker:hover {
  background-position: left;
}

.moniker-reverse {
  background-image: var(--gradient);
  background-size: 300%;
  background-position: left;
  transition: all 500ms;
}

.moniker-reverse:hover {
  background-position: right;
}

.moniker-subtitle {
  position: absolute;
  right: 0px;
  bottom: -22px;
  font-size: 8vw;
  color: var(--near-black);
}

#dark .moniker-subtitle {
  color: var(--near-white);
}

@media (min-width: 500px) {
  .moniker-subtitle {
    bottom: 0;
    font-size: 2vw;
  }
}

.quote {
  color: var(--near-black);
}

#dark .quote {
  color: var(--near-white);
}

.about {
  width: 80%;
  text-align: justify;
  font-weight: 500;
  color: var(--near-black);
}

@media (min-width: 500px) {
  .about {
    width: 500px;
  }
}

#dark .about {
  color: var(--near-white);
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--title-dark);
  background-color: var(--near-black);
  color: var(--near-white);
}

.featured__content {
  row-gap: 0.5vw;
  padding-left: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1.5;
  width: 100%;
  height: 100%;
}

.featured__content-title {
  column-gap: 20px;
  font-size: 4vw;
  font-weight: 700;
}

.featured__content-title-icon {
  width: 3.5vw;
  height: 3.5vw;
}

.featured__content-projects-title-icon {
  width: 2.8vw;
  height: 2.8vw;
}

.featured__content-body {
  font-size: 1.2vw;
}

#dark .featured {
  background-color: var(--light-gray);
}

.featured::before {
  content: "Featured Project";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--near-black);
  font-size: 5vw;
  position: absolute;
  inset: 0;
  background-color: var(--near-white);
  transition: all 250ms cubic-bezier(0.9, 0, 0.86, 0.5);
}

.featured-writing::before {
  content: "Featured Writing";
}

#dark .featured::before {
  background-color: var(--near-black);
  color: var(--near-white);
}

.featured:hover::before {
  transform: translateX(100%);
}

a {
  color: var(--title-dark);
  column-gap: 10px;
  transition: color 200ms, column-gap 200ms, transform 200ms;
  text-decoration: none;
}

#dark a {
  color: var(--title-light);
}

#dark a:hover {
  color: var(--near-white);
}

a:hover {
  color: var(--near-white);
  cursor: pointer;
  column-gap: 3px;
  transform: translateX(5px) translateY(-1px);
}

.socials {
  font-size: 2.5vw;
}

.socials:hover {
  color: var(--near-black);
}

@media (max-width: 500px) {
  .featured {
    flex-direction: column-reverse;
  }

  .featured__content {
    flex: 4;
    row-gap: 7px;
    justify-content: flex-start;
    width: 91%;
    padding-left: 0px;
  }

  .featured__content-title {
    column-gap: 10px;
    font-size: 6vw;
  }

  .featured__content-title-icon {
    width: 6vw;
    height: 6vw;
  }

  .featured__content-projects-title-icon {
    width: 6vw;
    height: 6vw;
  }

  small {
    font-size: 2.5vw;
  }

  .featured__content-body {
    font-size: 0.9rem;
  }

  .featured__link {
    font-size: 5vw;
  }

  .hide-on-mobile {
    display: none;
  }

  .socials {
    font-size: 6vw;
  }
}
